In [37]:
#Implement Naiye Bayes classifier 
#Calculate the recall,precision,
#Class labels contain 0 and 1 and we have to find the probability of 0 and 1 in label stored in Y variable
import numpy as np
import pandas as pd

In [38]:
data=pd.read_csv("mllabdataset.csv")

In [39]:
data.head(10)

,Class_label,Tweet ID,Date,Type,Profile_name,Tweets
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
5,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
6,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
7,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
8,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?
9,0,1467812416,Mon Apr 06 22:20:16 PDT 2009,NO_QUERY,erinx3leannexo,spring break in plain city... it's snowing

In [40]:
selected_feature=['Tweets']
X = data[selected_feature]

In [41]:
X

                                                Tweets
0    is upset that he can't update his Facebook by ...
1    @Kenichan I dived many times for the ball. Man...
2      my whole body feels itchy and like its on fire
3    @nationwideclass no, it's not behaving at all....
4                        @Kwesidei not the whole crew
..                                                 ...
312                        @phlaimeaux where are you?
313  stupid arranged marriages... i'll convert so y...
314  @emilyruppe Well he said that he is a looser, ...
315  Poor Sandra Cantu &amp; the Cantu family! My p...
316  fuck omg  austins always there though man &lt;...

[317 rows x 1 columns]

In [42]:
X.shape

(317, 1)

In [43]:
labels=["Class_label"]
Y=data[labels]

In [44]:
Y

     Class_label
0              0
1              0
2              0
3              0
4              0
..           ...
312            0
313            0
314            0
315            0
316            0

[317 rows x 1 columns]

In [45]:

from sklearn.model_selection import train_test_split

X = data['Tweets']
Y = data['Class_label']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=101)

In [46]:
X.isnull().sum()

0

In [47]:
Y.isnull().sum()

0

In [48]:
from sklearn.feature_extraction.text import CountVectorizer# used 
from sklearn.naive_bayes import MultinomialNB

# Vectorize the text data
vectorizer = CountVectorizer()
X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)

In [49]:
#First we will found the probabilty of the Y labels 0 and 1

Y = data['Class_label'].value_counts(normalize=True)# 

# Print the probabilities
probability_class_0 = Y[0]
probability_class_1 = Y[1]

print(f'Probability of Class 0: {probability_class_0}')
print(f'Probability of Class 1: {probability_class_1}')

Probability of Class 0: 0.4605678233438486
Probability of Class 1: 0.5394321766561514

In [50]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /home/imaad/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/imaad/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [51]:
def remove_punkt_tokens(text):
    tokens = word_tokenize(text)
    filtered_tokens = [word for word in tokens if word.isalnum()]  # Keep only alphanumeric words
    return ' '.join(filtered_tokens)

In [52]:

data['Tweets'] = data['Tweets'].apply(remove_punkt_tokens)

data = data[~data['Tweets'].str.contains('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', regex=True)]

print(data)

     Class_label    Tweet ID                          Date      Type  \
0              0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
1              0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
2              0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
3              0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4              0  1467811372  Mon Apr 06 22:20:00 PDT 2009  NO_QUERY
..           ...         ...                           ...       ...
312            0  1467950866  Mon Apr 06 22:57:47 PDT 2009  NO_QUERY
313            0  1467950975  Mon Apr 06 22:57:52 PDT 2009  NO_QUERY
314            0  1467951016  Mon Apr 06 22:57:50 PDT 2009  NO_QUERY
315            0  1467951035  Mon Apr 06 22:57:50 PDT 2009  NO_QUERY
316            0  1467951238  Mon Apr 06 22:57:54 PDT 2009  NO_QUERY

        Profile_name                                             Tweets
0      scotthamilton  is upset that he ca update his Facebook by tex...
1           mattycus  Kenichan I dived many times for the ball Manag...
2            ElleCTF     my whole body feels itchy and like its on fire
3             Karoli  nationwideclass no it not behaving at all i ma...
4           joy_wolf                        Kwesidei not the whole crew
..               ...                                                ...
312         melbrehl                           phlaimeaux where are you
313  sunsetphotograf  stupid arranged marriages i convert so you can...
314          ccallas  emilyruppe Well he said that he is a looser an...
315        3WildBoys  Poor Sandra Cantu amp the Cantu family My pray...
316          roniker  fuck omg austins always there though man lt 3 ...

[317 rows x 6 columns]

In [53]:

from sklearn.model_selection import train_test_split

X = data['Tweets']
Y = data['Class_label']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=101)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,, test_size=0.2, random_state=42)
class NB:
    def _init_(self):
        self.class_counts =
        self.word_counts = 
        self.total_documents = 0

    def fit(self, X, y):
        for doc, label in zip(X, y):
            
            word_list = doc.nonzero()[1].tolist()
            for word in word_list:
                self.word_counts[label][word] += 1
                self.class_counts[label] += 1
            self.total_documents += 1

    def calculate_class_probabilities(self, document):
        probabilities = {}
        for label in self.class_counts.keys():
                
# Initialize Naive Bayes classifier
nb_classifier = NB()

# Train the classifier
nb_classifier.fit(X_train, y_train)
# Make predictions on the test set
y_pred = nb_classifier.predict(X_test)

# Evaluate the model
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score


accuracy = accuracy_score(y_test, y_pred)
f1_score = f1_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)


print("Accuracy:", accuracy)
print("f1_score", f1_score )
print("Precision", precision)
print("Recall", recall)

Importing library

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn import
classifier = MultinomialNB()
classifier.fit(X_train_vec, y_train)

# Make predictions on the test set
y_pred = classifier.predict(X_test_vec)

# Evaluate the classifier
precision = metrics.precision_score(y_test, y_pred, average='binary')
recall = metrics.recall_score(y_test, y_pred, average='binary')
f1_score = metrics.f1_score(y_test, y_pred, average='binary')

print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1-score:{f1_score}')

Precision: 0.6060606060606061
Recall: 0.6060606060606061
F1-score:0.6060606060606061

In [55]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from sklearn import metrics

# # Load the dataset
# data = pd.read_csv('your_dataset.csv')

# # Data preprocessing
# # For simplicity, you can use the 'Tweets' column as your feature and 'Class_label' as the target variable.

# X = data['Tweets']
# y = data['Class_label']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Vectorize the text data
# vectorizer = CountVectorizer()
# X_train_vec = vectorizer.fit_transform(X_train)
# X_test_vec = vectorizer.transform(X_test)

# # Train a Naive Bayes classifier
# classifier = MultinomialNB()
# classifier.fit(X_train_vec, y_train)

# # Make predictions on the test set
# y_pred = classifier.predict(X_test_vec)

# # Evaluate the classifier
# precision = metrics.precision_score(y_test, y_pred, average='binary')
# recall = metrics.recall_score(y_test, y_pred, average='binary')

# print(f'Precision: {precision}')
# print(f'Recall: {recall}')

In [56]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from sklearn import metrics

# # Load the dataset
# data = pd.read_csv('your_dataset.csv')

# # Data preprocessing
# X = data['Tweets']
# y = data['Class_label']

# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Vectorize the text data
# vectorizer = CountVectorizer()
# X_train_vec = vectorizer.fit_transform(X_train)
# X_test_vec = vectorizer.transform(X_test)

# # Train a Naive Bayes classifier
# classifier = MultinomialNB()
# classifier.fit(X_train_vec, y_train)

# # Get the predicted probabilities for each class
# # The second column represents the probability of class 1
# # The first column represents the probability of class 0
# proba = classifier.predict_proba(X_test_vec)

# # Extract probabilities for class 0 and 1
# prob_class_0 = proba[:, 0]
# prob_class_1 = proba[:, 1]

# # Print the probabilities
# print(f'Probability of Class 0: {prob_class_0}')
# print(f'Probability of Class 1: {prob_class_1}')

In [57]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from urllib.parse import urlparse

# Download NLTK data (if not already downloaded)
nltk.download('punkt')

# Load the dataset
data = pd.read_csv('your_dataset.csv')

# Function to remove words identified by NLTK Punk tokenizer
def remove_punkt_tokens(text):
    tokens = word_tokenize(text)
    filtered_tokens = [word for word in tokens if word.isalnum()]  # Keep only alphanumeric words
    return ' '.join(filtered_tokens)

# Apply the function to the 'Tweets' column
data['Tweets'] = data['Tweets'].apply(remove_punkt_tokens)

# Drop rows containing hyperlinks in the 'Tweets' column
data = data[~data['Tweets'].str.contains('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', regex=True)]

# Display the cleaned dataset
print(data)

[nltk_data] Downloading package punkt to /home/imaad/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

FileNotFoundError: [Errno 2] No such file or directory: 'your_dataset.csv'